.gradle/
.DS_Store
local.properties

# build files
build/
bin/
gen/
output/

# android studio
*.iml
.idea
.idea/
app/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
.gitignore
libs/
proguard-rules.pro
src/
